body {
  margin: 0;
  font-family: 'Uncial Antiqua', 'Apple Chancery', 'Zapf Chancery', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Loading to appear when server is starting */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 80vw;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

/* Quote of the day */
.loading-container p {
  margin-top: 20px;
  font-size: 1.8em;
  color: var(--text-color);
  font-family:
    'Uncial Antiqua', 'Apple Chancery', 'Zapf Chancery', cursive; /* Lord of the rings font */
  background-color: var(--background-color);
  opacity: 0; /* Initially invisible */
  animation: slowFadeIn 2.5s ease-in-out 0.5s forwards; /* smoothly display the quote */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Subtle shadow effect */
}

@keyframes slowFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Hide reCAPTCHA badge */
.grecaptcha-badge {
  display: none !important;
}
