/* Add this CSS to your PostForm.css or another appropriate CSS file */

/* Center aligned text */
.ql-align-center {
  text-align: center;
}

/* Right aligned text */
.ql-align-right {
  text-align: right;
}

/* Left aligned text (default, so not strictly necessary) */
.ql-align-left {
  text-align: left;
}

/* Underlined text */
.ql-editor u {
  text-decoration: underline;
}

/* Italics text */
.ql-editor em {
  font-style: italic;
}

/* Bold text */
.ql-editor strong {
  font-weight: bold;
}

/* Ordered list */
.ql-editor ol {
  list-style-type: decimal;
  padding-left: 20px;
}

/* Unordered list */
.ql-editor ul {
  list-style-type: disc;
  padding-left: 20px;
}

/* Indented list item */
.ql-indent-1 {
  padding-left: 20px;
}

/* Serif font */
.ql-font-serif {
  font-family: serif;
}

/* Heading 1 */
.ql-editor h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

/* Heading 2 */
.ql-editor h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

/* QuillFormat.css */
.ql-font-arial {
  font-family: 'Arial', sans-serif;
}

.ql-font-courier {
  font-family: 'Courier New', monospace;
}

.ql-font-georgia {
  font-family: 'Georgia', serif;
}

.ql-font-helvetica {
  font-family: 'Helvetica', sans-serif;
}

.ql-font-lucida {
  font-family: 'Lucida Console', monospace;
}

.ql-font-monospace {
  font-family:
    Monaco,
    Courier New,
    monospace;
}

.ql-font-times {
  font-family: 'Times New Roman', serif;
}

.ql-font-verdana {
  font-family: 'Verdana', sans-serif;
}

.ql-font-sofia {
  font-family: 'Sofia', sans-serif;
}

.ql-font-slabo {
  font-family: 'Slabo', serif;
}

.ql-font-roboto {
  font-family: 'Roboto', sans-serif;
}

.ql-font-inconsolata {
  font-family: 'Inconsolata', monospace;
}

.ql-font-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}
