@import url('../../theme.css');

.grid-post-link {
  text-decoration: none;
  color: inherit;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  justify-content: center;
}

.post {
  background: var(--card-background-color);
  border-radius: 10px;
  box-shadow: 0 6px 12px var(--post-shadow-color);
  transition: none;
  overflow: hidden;
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.grid-post-author {
  padding: 0 5px 0px 10px;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  /* Ensure text does not break outside of the card width */
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  word-break: normal;
  z-index: 1;
  border-radius: 0px 0px 0px 20px;
  height: 25px; /* Add this line to make it more narrow */
  line-height: 0px; /* Add this line to vertically center the text */
}

.grid-post-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-post-image img {
  width: 100%;
  /* restrain width to the card size */
  height: 300px;
  /* even all pictures to same height */
  /* trims height of image in grid posts */
  display: flex;
  object-fit: cover;
  object-position: top;
  /*displays center top when zoomed */
  border-radius: 10px;
  opacity: 1;
  transition: none;
}

.grid-post-image img.loaded {
  opacity: 1;
}

.grid-post-content {
  padding: 15px;
  box-sizing: border-box;
  /* Prevent the element from growing with padding */
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  width: 100%;
  /* Ensure text does not break outside of the card width */
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  word-break: normal;
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.invisible {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.grid-post-link:not(.invisible) {
  visibility: visible;
  opacity: 1;
  animation: slideIn 1s ease-in-out;
}
