.parsed-content {
  font-size: 18px;
  text-align: left;
  color: var(--text-color);
  line-height: 1.2em; /* Adjust line spacing */
}

.parsed-content p,
.parsed-content h1,
.parsed-content h2 {
  margin: 0.5em 0; /* Reduce margin between paragraphs and below headers */
}

.parsed-content h1,
.parsed-content h2 {
  margin-top: 0.5em;
}

.parsed-content h1 {
  font-size: 1.8em;
  line-height: 1.2em; /* line height when title breaks to second line */
}

.parsed-content h2 {
  font-size: 1.5em;
  line-height: 1em; /* line height when title breaks to second line */
}

.parsed-content a {
  color: var(--button-hover-background-color);
  text-decoration: underline;
}
