@import url('../../../theme.css');

/* Theme Overrides */
.ql-toolbar,
.ql-container {
  background-color: var(--ql-toolbar-background-color);
  color: var(--ql-toolbar-color);
  border: 1px solid var(--ql-toolbar-border-color);
  transition: background-color var(--transition-duration);
}

.ql-toolbar .ql-picker,
.ql-toolbar .ql-picker-label,
.ql-toolbar .ql-picker-options {
  background-color: var(--ql-picker-background-color);
  color: var(--ql-picker-color);
  transition: background-color var(--transition-duration);
}

.ql-toolbar .ql-picker-label:hover,
.ql-toolbar .ql-picker-item:hover,
.ql-toolbar .ql-picker-item.ql-selected {
  background-color: var(--ql-picker-hover-background-color);
  color: var(--ql-picker-color);
  transition: background-color var(--transition-duration);
}

.ql-toolbar button,
.ql-toolbar button:hover,
.ql-toolbar button.ql-active {
  color: var(--ql-button-color);
}

.ql-toolbar .ql-stroke,
.ql-toolbar .ql-fill,
.ql-toolbar .ql-stroke-miter {
  stroke: var(--ql-stroke-color);
}

.ql-editor {
  font-size: 16px;
  /* Ensure font size is at least 16px to prevent zoom issues on iPhone */
}

.ql-editor.ql-blank::before {
  color: var(--placeholder-color) !important;
}
